/* app-dark.css */

 .productx {
    background-color: #0c0c0c;
    color: #fff;
  }
  
  .dark-mode h1 {
    color: #fff;
  }
  
  .dark-mode select,
  .dark-mode button {
    background-color: #333;
    color: #fff;
  }
  
  /* Additional styles for dark mode */
  